<%- include('../partials/head') %>
<%- include('../partials/nav') %>

<main>
   <div class="centerxy">
      <h1 class="display-5">Product details</h1>
   </div>
  
</main>

<%- include('../partials/end')%>